{{define "content"}}
<main role="main" class="main-content px-5 mb-5">
  <!-- Breadcrumb -->
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb custom-title mt-3">
      <li class="breadcrumb-item"><a href="/admin">Home</a></li>
      <li class="breadcrumb-item"><a href="/admin/members">Members</a></li>
      <li class="breadcrumb-item active" aria-current="page">Reset Password</li>
    </ol>
  </nav>
  <form action="/admin/members/{{.id}}/reset_password" method="POST" enctype="multipart/form-data">
    <div class="offset-sm-2 long-height">
      <div class="row my-5"></div>
      <!-- new pwd -->
      <div class="form-group row">
        <label for="password" class="col-sm-3 col-form-label">New Password <span class="require">*</span></label>
        <div class="col-sm-6">
          <input name="newPassword" type="password"
            class="form-control custom-input {{if .validateError.password}} is-invalid {{end}}">
          {{if .validateError.password}}
          <div class="invalid-feedback">
            {{.validateError.password}}
          </div>
          {{end}}
        </div>
      </div>
      <!-- confirm pwd -->
      <div class="form-group row">
        <label for="confirm_password" class="col-sm-3 col-form-label">Confirm Password <span
            class="require">*</span></label>
        <div class="col-sm-6">
          <input name="confirmPassword" type="password"
            class="form-control custom-input {{if .validateError.confirmPassword}} is-invalid {{end}}">
          {{if .validateError.confirmPassword}}
          <div class="invalid-feedback">
            {{.validateError.confirmPassword}}
          </div>
          {{end}}
        </div>
      </div>
    </div>
    <!-- button -->
    <div class="offset-sm-2 form-group row mt-5">
      <div class="col-sm-2 offset-sm-2">
        <div class="btn btn-big btn-normal" data-toggle="modal" data-target="#back_modal">Back</div>
      </div>
      <div class="col-sm-2 offset-sm-2">
        <button name="save" type="submit" class="btn btn-big btn-normal">Save</button>
      </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="back_modal" tabindex="-1" role="dialog" aria-labelledby="back_modal_label"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content custom-modal">
          <div class="modal-header modal-warning">
            <h6 class="modal-title" id="back_modal_label">Are you sure you want to clear the input information?</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body pt-5">
            <div class="row">
              <div class="col-sm-6">
                <button type="button" class="btn btn-normal btn-modal m-auto" data-dismiss="modal">Cancel</button>
              </div>
              <div class="col-sm-6">
                <a class="btn btn-normal btn-modal m-auto" href="/admin/members">OK</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>
{{end}}
